<Configuration>
  <Angular.Main>
    <add key="ApplicationName" value="SKV" />
    <add key="DynamicTableControllerAs" value="ctrl" />
  </Angular.Main>

  <Angular.ModalNames>
    <add key="UserProfileModalName" value="UserProfileModal" />
    <add key="UserCreatingModalName" value="UserCreatingModal" />

    <add key="RoleProfileModalName" value="RoleProfileModal" />
    <add key="RoleCreatingModalName" value="RoleCreatingModal" />

    <add key="ConfirmationModalName" value="ConfirmationModal" />
  </Angular.ModalNames>

  <Angular.FactoryNames>
    <add key="UserTableSettingsFactory" value="UserTableSettingsFactory" />
    <add key="RoleTableSettingsFactory" value="RoleTableSettingsFactory" />
  </Angular.FactoryNames>

  <Angular.ControllerAs>
    <add key="UserManagerControllerAs" value="umCtrl" />
    <add key="RoleManagerControllerAs" value="rmCtrl" />
  </Angular.ControllerAs>

  <Angular.TableActionIds>
    <add key="ViewActionId" value="ViewAction" />
    <add key="DeleteActionId" value="DeleteAction" />
  </Angular.TableActionIds>

  <Angular.ControllerNames>
    <add key="UserManagerController" value="UserManagerController" />
    <add key="RoleManagerController" value="RoleManagerController" />
  </Angular.ControllerNames>

  <UI.ObjectNames>
    <add key="RoleProfile" value="RoleProfile" />
    <add key="ControllerNotificationsPath" value="ControllerNotificationsPath" />
    <add key="RolePermissionsTab" value="RolePermissionsTab" />
    <add key="RoleMainPropertiesTab" value="RoleMainPropertiesTab" />
    <add key="RoleProfileMainPropertiesFields" value="RoleProfileMainPropertiesFields"/>
  </UI.ObjectNames>

  <Angular.ControllerDefaults>
    <add key="CurrentUser" value="CurrentUser" />
    <add key="CurrentRole" value="CurrentRole" />
    <add key="PasswordChanging" value="PasswordChanging" />
  </Angular.ControllerDefaults>

  <CRM.Main>
    <add key="DefaultTablePageSize" value="3" />
    <add key="ClientSideTemplatesPath" value="~/Views/ComponentTemplates/" />
    <add key="CultureCookieName" value="__UICULTURECOOKIE__" />
  </CRM.Main>
</Configuration>