@{ 
    var ctrl = ClientSideConfiguration.AngularUserManagerControllerName;
}

<div class="row">
    <div class="col-lg-12">
        <div class="form-group has-feedback">
            <label class="control-label">Старый пароль:</label>
            <i class="icon-keyboard form-control-feedback"></i>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group has-feedback">
            <label class="control-label">Новый пароль:</label>
            <i class="icon-keyboard form-control-feedback"></i>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group has-feedback">
            <label class="control-label">Подтверждение нового пароля:</label>
            <i class="icon-keyboard form-control-feedback"></i>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <button class="btn btn-flat btn-primary btn-block" ng-click="@(ctrl).SaveUserData()">Изменить пароль</button>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-flat btn-primary btn-block" ng-click="@(ctrl).CloseUserProfileModal()">Отмена</button>
    </div>
</div>
