@{ 
    var controller_name = ClientSideConfiguration.AngularUserManagerControllerName;
}

<div>
    <button class="btn btn-success btn-flat" ng-click="@(controller_name).ShowUserCreationModal()">
        <span class="glyphicon glyphicon-plus">
    </button>
</div>