<li class="dropdown iconify hide-phone">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="label label-danger absolute">3</span></a>
    <ul class="dropdown-menu dropdown-message">
        <li class="dropdown-header notif-header"><i class="icon-mail-2"></i> New Messages</li>
        <li class="unread">
            <a href="#" class="clearfix">
                <img src="~/Content/Admin/images/users/chat/2.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                <strong>John Doe</strong><i class="pull-right msg-time">5 minutes ago</i><br />
                <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
            </a>
        </li>
        <li class="unread">
            <a href="#" class="clearfix">
                <img src="~/Content/Admin/images/users/chat/1.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                <strong>Sandra Kraken</strong><i class="pull-right msg-time">22 minutes ago</i><br />
                <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
            </a>
        </li>
        <li>
            <a href="#" class="clearfix">
                <img src="images/users/chat/3.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                <strong>Zoey Lombardo</strong><i class="pull-right msg-time">41 minutes ago</i><br />
                <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
            </a>
        </li>
        <li class="dropdown-footer"><div class=""><a href="#" class="btn btn-sm btn-block btn-primary"><i class="fa fa-share"></i> See all messages</a></div></li>
    </ul>
</li>
