@using Microsoft.AspNet.Identity
@using SKV.BLL.Identity;

<li class="dropdown topbar-profile">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="rounded-image topbar-profile-image"><img src="~/Content/Admin/images/users/user-35.jpg"></span>@User.Identity.GetUserFirstName()      <i class="fa fa-caret-down"></i></a>
    <ul class="dropdown-menu">
        <li><a href="#">My Profile</a></li>
        <li><a href="#">Change Password</a></li>
        <li><a href="#">Account Setting</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-help-2"></i> Help</a></li>
        <li><a href="lockscreen.html"><i class="icon-lock-1"></i> Lock me</a></li>
        <li><a class="md-trigger" data-modal="logout-modal"><i class="icon-logout-1"></i> Logout</a></li>
    </ul>
</li>
