<script>
    angular.module('#ComponentAngularApplicationName#').factory('#ComponentAngularTableSettingsFactoryName#', function () {
        return {
            Actions: function() {
                return [#ComponentRowActions#]
            },

            Columns: function () {
                return [#ComponentColumns#]
            },

            Editable: function() {
                return #ComponentEditable#;
            },

            Filterable: function() {
                return #ComponentFilterable#;
            },

            Paginable: function() {
                return #ComponentPaginable#;
            },

            PageSize: function() {
                return #ComponentPageSize#;
            }
        }
    });
</script>

<any ng-controller="DynamicTableController as #ComponentAngularDynamicTableControllerName#">
    <any ng-controller="#ComponentAngularDynamicTableActionsController# as #ComponentAngularDynamicTableActionsControllerName#">
        <dynamic-table></dynamic-table>

        #ComponentLogic#

        #ComponentBody#
    </any>
</any>