<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Angular.Main" type="System.Configuration.AppSettingsSection"/>
    <section name="Angular.ModalNames" type="System.Configuration.AppSettingsSection"/>
    <section name="Angular.FactoryNames" type="System.Configuration.AppSettingsSection"/>
    <section name="Angular.ControllerAs" type="System.Configuration.AppSettingsSection"/>
    <section name="Angular.TableActionIds" type="System.Configuration.AppSettingsSection"/>
    <section name="Angular.ControllerNames" type="System.Configuration.AppSettingsSection"/>
   
    <section name="CRM.Main" type="System.Configuration.AppSettingsSection"/>
  </configSections>

  <Angular.Main>
    <add key="AngularApplicationName" value="SKV" />
    <add key="AngularDynamicTableControllerAs" value="ctrl" />
  </Angular.Main>

  <Angular.ModalNames>
    <add key="UserProfileModalName" value="UserProfileModal" />
    <add key="UserCreatingModalName" value="UserCreatingModal" />

    <add key="RoleProfileModalName" value="RoleProfileModal" />
    <add key="RoleCreatingModalName" value="RoleCreatingModal" />

    <add key="ConfirmationModalName" value="ConfirmationModal" />
  </Angular.ModalNames>

  <Angular.FactoryNames>
    <add key="AngularUserTableSettingsFactory" value="UserTableSettingsFactory" />
    <add key="AngularRoleTableSettingsFactory" value="RoleTableSettingsFactory" />
  </Angular.FactoryNames>

  <Angular.ControllerAs>
    <add key="AngularUserManagerControllerAs" value="umCtrl" />
    <add key="AngularRoleManagerControllerAs" value="rmCtrl" />
  </Angular.ControllerAs>

  <Angular.TableActionIds>
    <add key="ViewActionId" value="ViewAction" />
    <add key="DeleteActionId" value="DeleteAction" />
  </Angular.TableActionIds>

  <Angular.ControllerNames>
    <add key="AngularUserManagerController" value="UserManagerController" />
    <add key="AngularRoleManagerController" value="RoleManagerController" />
  </Angular.ControllerNames>

  <CRM.Main>
    <add key="DefaultTablePageSize" value="3" />
    <add key="ClientSideTemplatesPath" value="~/Views/ComponentTemplates/" />
  </CRM.Main>
  
</configuration>