@model SKV.PL.ClientSide.Components.Modal.ModalMvcModel

@{ 
    var ManualClosingAttribute = Model.ManualClosing ? "static" : string.Empty;
}

<div id="@Model.Id" class="modal fade modal-wide" role="dialog" data-backdrop="@ManualClosingAttribute"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Model.Title</h4>
            </div>
            <div class="modal-body">@MvcHtmlString.Create(Model.Body.Render())</div>
        </div>
    </div>
</div>

